@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(./images/bg3.jpg);
    background-size: cover;
    font-family: 'Bodoni Moda', serif;
}

.cardbg{
    border-radius: 15px 50px;
    background-color: rgba(255, 255, 255, .9);
    color: black;
    padding:30px;
}

button{
    outline: none;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    background: #000066;
}
.prediction{
    text-align: center;
    color: while;
    font-size: xx-large;
}