<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Fraud Detection Rule Engine</title>
    <link rel="icon" href="https://www.flaticon.com/svg/vstatic/svg/1122/1122550.svg?token=exp=1611934641~hmac=1a3e9f986b3ff7eb77f667fc5beeb0e4" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container justify-content-center mt-2">
    <h1 class="text-white mt-2">Fraud Detection Rule Engine</h1>
    <h5 class="text-white ">Identify the fraudulent claims</h5>
    <form action='/predict' method="post">
        <div class="row">
            <div class="col-sm-12 col-lg-6 cardbg">
                <div class="row">
                    <div class="col-12 mt-3 mb-1">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Upload a csv file</label>
                            <p>
                                <input type="file" name="csvfile">
                                <button type="submit" class="button">Predict</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4  d-flex align-items-center">
                <h4 class="prediction">{{pred}}</h4>
            </div>
        </div>
    </form>
</div>


<br/>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src=".js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>

